
* {
  box-sizing: border-box;
}

:root {
  --bg-color: #a2b2ee;
  --main-color: #26292B;
  --cta-color: #5f7adb;
  --shadow-color: #8191c9;
  --shadow-color2: #c0ccf6;
  --btn-color: #a5b7f6;
  --header-bg: #acacac;
}

:root.dark {
  --bg-color: #26292b;
  --main-color: #E6EBFD;
  --cta-color: #a2b2ee;
  --shadow-color2: #232425;
  --shadow-color: #3a4146;
  --btn-color: #2F448F;
  --header-bg: #5f7adb;
}

:root.classic {
  --bg-color: #FDF0DF;
  --main-color: #004A49;
  --cta-color: #FFB000;
  --shadow-color: #d6c8b5;
  --shadow-color2: #ede3d5;
  --btn-color: #FDF0DF;
  --header-bg: #FFB000;
}

:root.dark.classic {
  --bg-color: #004A49;
  --main-color: #FDF0DF;
  --cta-color: #FFC745;
  --shadow-color2: #012a29;
  --shadow-color: #086866;
  --btn-color: #004A49;
  --header-bg: #FFC745;
}


html,
body {
  background-color: var(--bg-color); 
  color: var(--main-color);
}

body{
  height: 100vh;
}

/* ---------------------Layout-----------------*/

aside div > *, #home h1, body, figure{
  margin: 0;
}

#app{
  background-color: transparent;
  display: grid;
  height: 100%;
  grid-template: 40px auto auto 30px / 1fr;
  grid-template-areas: 
    "h"
    "a"
    "m"
    "f";
  row-gap: 4em;
}

.connect, .aside-wrapper, aside, /*main,*/ section, .skills-wrapper, .media-icon, header, footer{
  display: flex;
}

.connect, aside, header, .profile img, .media-icon, .dropdown-items li::before, .dropdown-items li::after, #certificates img{
  width: 100%;
}

#menu, .mode-icon, button, .dropdown-box:hover{
  cursor: pointer;
}

/* Header */
header{
  grid-area: h;
  justify-content: space-between;
}

aside{
  grid-area: a;
  margin-top: 1.8em;
  font-family: 'Inter', sans-serif;
}

.aside-wrapper{
  max-width: 360px;
}

.connect{
  justify-content: space-evenly;
  gap: .5em;
}

main{
  grid-area: m;
}

main h2, main h3, main h4{
  font-family: "Inter", "sans-serif";
}

footer{
  grid-area: f;
  align-items: center;
}

footer, header{
  background-color: var(--header-bg);
}

header, .aside-nav{
  padding: 0 1.5em;
}

/* Nav */
.main-nav{
  display: none;
  position: fixed;
  height: 100vh;
  top: 40px;
  padding: 0 2.5em 0 .5em;
  background-color: var(--cta-color);
}

header .logo{
  width: 2em;
  height: 2em;
}

nav .logo{
  display: none;
  margin-left: 2em;
}

.logo{
  margin-right: auto;
}

ul{
  list-style-type: none;
  padding: 0;
}

/* aside */
.aside-wrapper, aside, /*main,*/ section, .skills-wrapper{
  flex-direction: column;
}

.aside-wrapper, aside, header{
  align-items: center;
  gap: 1.2em;
}

/* Profile Image */
.profile{
  width: 300px;
  height: 300px;
}

.profile, .profile img{
  border-radius: 50%;
}

.profile img{
  height: 100%;
  object-fit: cover;
}

/* aside nav */
.aside-nav h3, #home h1{
  margin-bottom: .4em;
}

.nav-items{
  padding-left: .8em;
  margin: 0;
}

.aside-nav .nav-items{
  border-left: 2px solid var(--cta-color);
}

li a:hover, .mode-icon:hover, #menu:hover{
  color: white;
}

a.active {
  border-bottom: 2px solid var(--cta-color);
}

li a{
  transition: all 1000ms;
  position: relative;
  overflow: hidden;
}

li a:hover{
  transition: all .5s;
  transform: scale(1.1, 1.1);
  box-shadow: 4px 5px 17px -4px var(--shadow-color);
}

li a::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--cta-color);
  z-index: -1;
  transition: width 1000ms;
}

li a:hover::before {
  width: 100%;
}

nav li:hover{
  transition: all .5s;
  transform: scale(1.1, 1.1);
  box-shadow: 4px 5px 17px -4px var(--shadow-color);
}

/* main */
section{
  margin-bottom: 3em;
  padding: 0 3em;
}

#contact{
  margin-bottom: 0;
}

/* .contact a:hover{
  color: ;
} */

/* skills */
.skills-wrapper, figure, #projects ul, .location{
  margin-top: 1.5em;
}

.dropdown-box{
  margin-bottom: .8em;
  border: 1px solid var(--main-color);
  border-radius: 1em;
  padding: .5em 1em;
}

.fa-angle-down{
  float: right;
}

.dropdown-items{
  margin: .5em;
  padding: 0;
  line-height: 1.3em;
  display: none;
}

.dropdown-items li{
  position: relative;
  margin-left: 0;
  padding: .2em 0;
}

.dropdown-box:hover .fa-angle-down{
  transition: all .5s;
  color: var(--cta-color);
  transform: scale(1.2);
}

/* skill percentage with loading bar */
.dropdown-items li::before{
  content: "";
  position: absolute;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
}

.dropdown-items li::after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--cta-color);
  bottom: 0;
  left: 0;
  z-index: 2;
}

.dropdown-items li::after{
  width: 100%;
}

#html::after{
  width: 90%;
}

#css::after{
  width: 85%;
}

#javascript::after, #python::after, #java::after{
  width: 80%;
}

#bash::after, #git::after{
  width: 60%;
}

#mysql::after{
  width: 75%;
}

#microsoft::after, #gsuite::after, #photoshop::after{
  width: 70%;
}

#inkscape::after, #figma::after{
  width: 65%;
}

/* Certificates */
.gallery{
  display: grid;
  grid-template-columns: 1fr;
}

figcaption{
  margin-top: .8em;
  position: relative;
  padding-bottom: .3em;
}

figure{
  border-bottom: 1px solid var(--cta-color);
}

#certificates img{
  max-height: 400px;
  object-fit: cover;
}

.fa-arrow-left,
.fa-arrow-right {
  position: absolute;
  top: 50%;
  font-weight: bold;
  transform: translateY(-50%);
  color: var(--cta-color);
  opacity: 0.8;
  cursor: pointer;
}

.fa-arrow-right:hover, .fa-arrow-left:hover {
  opacity: 1;
}

.fa-arrow-left {
  left: 5%;
}

.fa-arrow-right {
  right: 5%;
}

/* Contact */
.media-icon{
  justify-content: space-evenly;
  margin-top: 2em;
}

/* Footer */
footer{
  align-items: center;
  justify-content: center;
}

/*-------------Font----------*/
p, .skills-wrapper li:last-child, #projects li:last-child{
  margin-bottom: 0;
}

#email, #theme{
  border: 2px solid var(--cta-color);
  background-color: transparent;
  color: var(--main-color);
}

.quick-intro p{
  margin-top: .5em;
}

#home h1, h2, figcaption, .location{
  text-align: center;
}

#home h1:last-of-type {
  color: var(--cta-color);
}

#home h1:nth-child(2),
#home h1:nth-child(3) {
  font-style: italic;
}

p, .nav-items a, .contact a{
  line-height: 1.5em;
}

header, .dropdown-box, figcaption, h3{
  font-size: 1.5rem;
}

p, .nav-items a{
  font-size: 1.3em;
}

.dropdown-items, .quick-intro p{
  font-size: 1em;
}

.name > *, #home >*{
  font-size: 3em;
}

.name h2{
  font-weight: lighter;
}

.name h1{
  text-transform: uppercase;
}

h2{
  font-size: 2.5em;
  margin-bottom: 1rem;
}

h2, h3{
  margin: 0;
}

.contact a{
  font-size: 2em;
}


a{
  text-decoration: none;
}

.nav-items a, .contact a {
  color: var(--main-color);
}

.contact a:hover{
  border-bottom: 2px solid var(--cta-color);
  border-top: 2px solid var(--main-color);
}

a.active {
  border-bottom: 2px solid var(--cta-color);
}

.cta{
  border: none;
  font-size: 1em;
  font-weight: bold;
  padding: 0.7em 1.5em;
  border-radius: .7em;
  color: var(--btn-color);
  background-color: var(--cta-color);
  max-width: 200px;
}

.cta:hover{
  outline: 2px solid var(--cta-color);
  outline-offset: 0.2em;
  box-shadow: 0 0 30px var(--cta-color);
  color: white;
}

/*----------Media Querries----------*/
@media screen and (min-width: 780px) {
  
  body{
    overflow-y: hidden;
  }

  #app{
    grid-template: 60px calc(100vh - 100px) 40px / repeat(12, 1fr);
    grid-template-areas: 
        "n n n n n n n n n n n n"
        "a a a a m m m m m m m m"
        "f f f f f f f f f f f f";
    gap: 0;
  }

  header{
    display: none;
  }

  aside{
    position: relative;
    min-height: 400px;
    height: 83vh;
    padding: 1.5em 0;
    grid-area: a;
    align-items: center;
    margin-left: 2em;
    width: auto;
    border-radius: 2em;
    box-shadow: -5px -5px 25px inset var(--shadow-color2),
             -10px -10px 10px var(--shadow-color);
    overflow: hidden;
  }

  .aside-wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    overflow: hidden;
    min-height: 350px;
    padding: 1.5em;
  }

  .main{
    height: 90vh;
    min-height: 500px;
    width: auto;
    grid-area: m;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  footer{
    grid-area: f;
  }

  nav .logo{
    display: block;
  }

  .main-nav{
    display: flex;
    justify-content: center;
    grid-area: n;
    position: static;
    height: auto;
    box-shadow: 0 2px 5px var(--shadow-color);
    /* border-bottom: 2px solid var(--main-color); */
    background-color: transparent;
  }

  .main-nav .nav-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.8em;
  }

  section{
    height: 100%;
    margin-right: 2em;
    justify-content: center;
    scroll-snap-align: start;
    padding: 0 2em 0 4em;
  }
  
  .profile{
    width: 200px;
    height: 200px;
  }

  .name > *{
    font-size: 2em;
  }

}

@media screen and (min-width: 860px) {
  
  .main-nav .nav-items{
    gap: 2.3em;
  } 

  iframe{
    width: 60%;
    height: 400px;
  }
}

@media screen and (min-width: 1280px) {
  
  aside{
    width: 400px;
  }

  section{
    width: 880px;
  }

  section, aside{
    margin-left: auto;
    margin-right: auto;
  }

}


@media screen and (max-height: 600px) {
  
  .profile{
    width: 80px;
    height: 80px;
  }

  html{
    font-size: 12px;
  }

  p{
    font-size: 1.1em;
  }

  aside{
    height: 400px;
  }

  .aside-wrapper{
    font-size: 10px;
    gap: .5em;
  }

}


@media screen and (max-height: 700px) {

   html{
    font-size: 12px;
  }

  p{
    font-size: 1.1em;
  }

  aside{
    height: 500px;
  }

  .aside-wrapper{
    font-size: 11px;
  } 

}


@media screen and (max-height: 780px) {
  
  .profile{
    width: 150px;
    height: 150px;
  }

  html{
    font-size: 12.5px;
  }

}